html {
  background-color: #000;
  color: #CCC;
  display: block;
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
  height: 100%;
}

a {
  color: #77F;
  text-decoration: none;
}
a:visited {
  color: #AAF;
}

#mainTemplate {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "login_____ save_load_"
  "settings__ chat______"
  "context___ chat______"
  "overview__ chat______"
  "encounters chat______"
  ;
}  

@media only screen and (max-width: 1200px) {
  #mainTemplate {
    grid-template-columns: 1fr;
    grid-template-areas:
    "login_____"
    "save_load_"
    "settings__"
    "context___"
    "overview__"
    "encounters"
    "chat______"
    ;
  }
}

textarea,
.full-width {
  width: 100%;
}

textarea {
  font-size: 18px;
}

.little-margin {
  margin: 2px;
}

.limited-height {
  overflow-y: auto;
  max-height: 250px;
  scrollbar-color: red;
  scrollbar-base-color: blue;
}

.icon {
  font-size: 18px;
  margin-top: 4px;
  margin-left: 4px;
}

.success {
  color: green;
}

.error {
  color: orange;
}

.neutral {
  color: sandybrown;
}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(360deg); }
  to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(360deg); }
  to { -webkit-transform: rotate(0deg); }
}
@keyframes spin {
  from {transform:rotate(360deg);}
  to {transform:rotate(0deg);}
}