html {
  background-color: #000;
  color: #CCC;
  display: block;
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
  height: 100%;
}

a {
  color: #77F;
  text-decoration: none;
}
a:visited {
  color: #AAF;
}

textarea,
.full-width {
  width: 100%;
}

textarea {
  font-size: 18px;
}

.little-margin {
  margin: 2px;
}

.limited-height {
  overflow-y: auto;
  max-height: 250px;
  scrollbar-color: red;
  scrollbar-base-color: blue;
}
